<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>

<body>

  <article class="markdown-body">
    <h1>{{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }}</h1>
  
    {{ if .Params.date }}
      <div>
        <div>
          <span>
            {{ .Date.Format (.Site.Params.dateform | default "2006-01-02 15:04:05") }} · {{ .ReadingTime }} minute read
          </span>
        </div>
        <div>
          <span id="busuanzi_container_site_pv">
            pv (<span id="busuanzi_value_site_pv"></span>)
          </span>
          /
          <span id="busuanzi_container_site_pv">
            uv (<span id="busuanzi_value_site_uv"></span>)
          </span>
        </div>
      </div>
    {{ end }}
  
    <div>
      {{ .Content }}
    </div>
  </article>

  {{ if .Site.Params.page.comment.giscus.enable }}
    <script src="https://giscus.app/client.js"
      data-repo={{ .Site.Params.page.comment.giscus.repo }}
      data-repo-id={{ .Site.Params.page.comment.giscus.repoId }}
      data-category={{ .Site.Params.page.comment.giscus.category }}
      data-category-id={{ .Site.Params.page.comment.giscus.categoryId }}
      data-lang={{ .Site.Params.page.comment.giscus.lang }}
      data-mapping="pathname"
      data-strict="0"
      data-reactions-enabled="0"
      data-emit-metadata="0"
      data-input-position="bottom"
      data-theme="light"
      crossorigin="anonymous"
      async
    >
    </script>
  {{ end }}
</body>

</html>




