<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/style/primer.css" rel="stylesheet" />
  <link href="/style/syntax-light.css" rel="stylesheet" />
  <link href="/style/blog.css" rel="stylesheet" />

  <title>
    {{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
    {{ if eq $url "/" }}
    {{ .Site.Title }}
    {{ else }}
    {{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }}
    {{ end }}
  </title>

</head>