<!DOCTYPE html>
<html lang="en">

{{ partial "head.html" . }}

<body>

  <header class="blog-center blog-p2">
    <h2> Arrebole's Blog </h2>

    <div class="blog-p-1">
      <p>道生一，一生二，二生三，三生万物。</p>
    </div>

  </header>

  <article class="blog-center blog-p2">
    {{ range $category := $.Site.Params.categories }}
    <section class="blog-m-2">
      <div>
        <h3>{{ $category }} </h3>
      </div>
        {{ range $section := $.Site.Sections }}
        <div class="pl-5">
          <ul>
            {{ range $page := $.Site.RegularPages }}
            {{ if and (in $section.Params.categories (string $category)) (eq (string $page.Section) (string $section.Section)) }}
            <li>
              <h4>
                <a href="{{ .Permalink }}" target="_blank">{{ $section.Section }}/{{ $page.Title }}</a>
                <span class="date">
                  {{ if not $page.Date.IsZero }}
                  ({{ $page.Date.Format ("2006-01-02") }})
                  {{ end }}
                </span>
              </h4>
            </li>
            {{ end }}
            {{ end }}
          </ul>
        </div>
        {{ end }}
      </div>
    </section>
    {{ end }}
  </article>
</body>

</html>
